body{
    color:rgb(43, 43, 43);
    background: rgb(11, 209, 235);
}
header{
    border-bottom:solid 2px rgb(rgba(0, 166, 243, 0.699));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: deepskyblue;
}
.chamada{
    background: aqua;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.categoria_vídeos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}